<!doctype html>
<html>
<head>
    <title>Dog Spotting</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="firstpage">
<div class="container main">

    <div class="jumbotron text-center">
        <img src="img/logo.png" alt="dogspotting logo">

        <p>Log In or Sign Up to Start Spotting Dogs!</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log In</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign Up</a>

    </div>

</div>
</body>
</html>
